SOLIDWORKS_ENABLED=false
SPACECLAIM_ENABLED=false
FLUENT_MESHING_ENABLED=false
FLUENT_SOLVER_ENABLED=false

SOLIDWORKS_EXECUTABLE=C:/Program Files/SOLIDWORKS Corp/SOLIDWORKS/SLDWORKS.exe
SPACECLAIM_EXECUTABLE=D:/Program Files/ANSYS Inc/v221/scdm/SpaceClaim.exe
FLUENT_EXECUTABLE=D:/Program Files/ANSYS Inc/v221/fluent/ntbin/win64/fluent.exe
ANSYS_VERSION=221

USE_PYFLUENT=false
CFD_AGENT_GMSH_FALLBACK=true
