SOLIDWORKS_ENABLED=false
SPACECLAIM_ENABLED=false
FLUENT_MESHING_ENABLED=true
FLUENT_SOLVER_ENABLED=false

SOLIDWORKS_EXECUTABLE=C:/Program Files/SOLIDWORKS Corp/SOLIDWORKS/SLDWORKS.exe
SPACECLAIM_EXECUTABLE=D:/Program Files/ANSYS Inc/v221/scdm/SpaceClaim.exe
FLUENT_EXECUTABLE=D:/Program Files/ANSYS Inc/v221/fluent/ntbin/win64/fluent.exe
FLUENT_PROCESSOR_COUNT=4
ANSYS_VERSION=221
CFD_AGENT_FOREGROUND=true

USE_PYFLUENT=false
